.crear{ background-image:url(../images/Add.png) !important;}
.crear16{ background-image:url(../images/Add16.png) !important;}
.eliminar{ background-image:url(../images/Delete.png) !important;}
.eliminar16{ background-image:url(../images/Delete16.png) !important;}
.actualizar{ background-image:url(../images/Modify.png) !important;}
.ayuda{ background-image:url(../images/Info.png) !important;}
.buscar{ background-image:url(../images/Search.png) !important;}
.temas{ background-image:url(../images/Picture.png) !important;}
.ajustar{ background-image:url(../images/Ajustar.png) !important;}
.ordenar{ background-image:url(../images/Sort.png) !important;}
.agrupar{ background-image:url(../images/Chart.png) !important;}
.item{ background-image:url(../images/Box.png) !important;}
.login{ background-image:url(../images/Login16.png) !important;}
.salir32{ background-image:url(../images/salir32.png) !important;}
.back32{ background-image:url(../images/Back32.png) !important;}
.go32{ background-image:url(../images/Go32.png) !important;}
.select32{ background-image:url(../images/Select32.png) !important;}

body .x-panel {
    margin-bottom:20px;
}
.icon-grid {
	background-image:url(../js/extjs/shared/icons/fam/grid.png) !important;
}
.ux-lovcombo-icon {
	width:16px;
	height:16px;
	float:left;
	background-position: -1px -1px ! important;
	background-repeat:no-repeat ! important;
}
.ux-lovcombo-icon-checked {
	background: url(../images/checked.gif) !important;
}
.ux-lovcombo-icon-unchecked {
	background: url(../images/unchecked.gif) !important;
}
#button-grid .x-panel-body {
	border:1px solid #99bbe8;
	border-top:0 none;
}

/*gestion de usuarios*/
.usuario_nuevo_icono{ background-image:url(../images/iconos/usuario/add_usu.png) !important;}
.usuario_borrar_icono{ background-image:url(../images/iconos/usuario/eli_usu.png) !important;}
.usuario_actualizar_icono{ background-image:url(../images/iconos/usuario/edit_usu.png) !important;}
.usuario_todos_icono{ background-image:url(../images/iconos/usuario/usuarios.png) !important;} 
.usuario_deshabilitados_icono{ background-image:url(../images/iconos/usuario/deshabilitado.png) !important;} 
.usuario_habilitados_icono{ background-image:url(../images/iconos/usuario/habilitado.png) !important;} 

/*gestion de prestadores*/
.prestador_gestionar_nuevo_icono{ background-image:url(../images/iconos/usuario/add_usu.png) !important;}
.prestador_gestionar_borrar_icono{ background-image:url(../images/iconos/usuario/eli_usu.png) !important;}
.prestador_gestionar_actualizar_icono{ background-image:url(../images/iconos/usuario/edit_usu.png) !important;}
.prestador_gestionar_todos_icono{ background-image:url(../images/iconos/usuario/usuarios.png) !important;} 
.prestador_gestionar_deshabilitados_icono{ background-image:url(../images/iconos/usuario/deshabilitado.png) !important;} 
.prestador_gestionar_habilitados_icono{ background-image:url(../images/iconos/usuario/habilitado.png) !important;} 

/*botones generales*/
.continuar {
background-image:url(../images/iconos/next.png) !important;
}

.atras {
background-image:url(../images/iconos/previous.png) !important;
}

.panelpps {
	text-align: left;
}
